<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="content">
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        <form method="post" class="admin-login">
            <h3>Admin Login</h3>
            <div>
                <label>Password:</label>
                <input type="password" placeholder="Enter admin password" name="password" />
            </div>
            <button type="submit">Login as Admin</button>
        </form>
        <form method="post" class="user-login">
            <h3>User Login</h3>
            <div>
                <label>Name:</label>
                <input type="text" placeholder="Enter your name" name="name" />
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
