{% extends 'base.html' %}

{% block content %}
<div class="message-box">
  <h2>Chat Room: {{ code }}</h2>
  <div class="messages" id="messages">
    {% for msg in messages %}
      <div class="message {% if msg.admin %}admin{% endif %}">
        <span><strong>{{ msg.name }}</strong>: {{ msg.message }}</span>
        {% if msg.admin %}
          <img class="admin-icon" src="https://www.svgrepo.com/show/528669/star-circle.svg" alt="Admin Icon" />
        {% endif %}
        <span class="muted">{{ msg.timestamp }}</span>
      </div>
    {% endfor %}
  </div>
  <div class="inputs">
    <input type="text" rows="3" placeholder="Message" name="message" id="message" />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>
  </div>
</div>
<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg, admin) => {
    const content = `
      <div class="message ${admin ? 'admin' : ''}">
        <span><strong>${name}</strong>: ${msg}</span>
        ${admin ? '<img class="admin-icon" src="https://www.svgrepo.com/show/528669/star-circle.svg" alt="Admin Icon" />' : ''}
        <span class="muted">${new Date().toLocaleString()}</span>
      </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message, data.admin);
  });

  socketio.on("message_deleted", (data) => {
    const messageDiv = document.getElementsByClassName("message")[data.index];
    if (messageDiv) {
      messageDiv.remove();
    }
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };

  messages.addEventListener("click", (event) => {
    if (event.target.classList.contains("message")) {
      const index = [...messages.children].indexOf(event.target);
      if (index >= 0) {
        if (confirm("Do you want to delete this message?")) {
          socketio.emit("delete_message", { index });
        }
      }
    }
  });
</script>
{% endblock %}
